name: Deploy Backend to Elastic Beanstalk

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Zip backend
        run: |
          cd backend
          zip -r ../deploy.zip . -x ".git/*" "node_modules/*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ secrets.AWS_REGION }}
          application_name: ToolMove
          environment_name: toolmove-env
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
